* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}
.one {
  background: #111;
  color: white;
}

.two {
  background: #f5f5f5;
}

.three {
  background: #111;
  color: white;
}

#box {
  width: 100px;
  height: 100px;
  background: black;
}
