* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  background: #111;
  color: white;
}

.two {
  background: #f5f5f5;
  height: 200vh;
}

.three {
  background: #111;
  color: white;
}

.box {
  width: 100px;
  height: 100px;
  background: black;
}
.scene {
  position: sticky;
  top: 0;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.path-svg {
  height: 100%;
}
.dot{
  opacity: 1;
}
.labels {
  position: absolute;
  left: calc(50% + 60px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 270px;
}


.label {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s linear, transform 0.2s linear;
  font-size: 18px;
}
